*.g.dart linguist-generated=true
*.g.theme.dart linguist-generated=true
*.freezed.dart linguist-generated=true
l10n.dart linguist-generated=true
l10n_en.dart linguist-generated=true
l10n_ja.dart linguist-generated=true
