# Flutter/Dart/Pub related
/.dart_tool/*
/.flutter-plugins
/.flutter-plugins-dependencies

# IntelliJ related
/*.iml
/.idea/*
# Keep the project jsonSchemas.
!/.idea/jsonSchemas.xml
# Keep the run configurations.
!/.idea/runConfigurations/

# mason related
/.mason

# https://github.com/felangel/mason/issues/947
# `mason get`すると内容が絶対パスに書き換わるためバージョン管理しない
/mason-lock.json

# firebase
/.firebase
/firebase-debug.log

# dependencies (bun install)
node_modules
