# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
/.dart_tool/
/**/doc/api
/build/

# IntelliJ related
/**/*.iml
/**/*.ipr
/**/*.iws
/.idea/*
!/.idea/runConfigurations/

# Melos related
/**/pubspec_overrides.yaml

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
