name: template_workspace
environment:
  sdk: ^3.8.0

workspace:
  # apps
  - apps/app
  - apps/catalog
  # packages
  - packages/application
  - packages/debug
  - packages/design_theme
  - packages/design_ui
  - packages/domain_logic
  - packages/domain_model
  - packages/infrastructure
  - packages/shared
  - packages/util_logic
  - packages/util_ui
  # samples
  - packages/samples/github_repository
  - samples/github_app
  - samples/webview
  # utils
  - packages/utils/pagination

dev_dependencies:
  melos: ^7.0.0-dev.7
  path: ^1.9.1
  yaml: ^3.1.3
  yaml_edit: ^2.2.2
  yumemi_lints: ^4.1.1

dependency_overrides:
  file: ^7.0.1
  path: ^1.9.1

melos:
  ide:
    intellij:
      # Disabling IntelliJ's automatic configuration.
      # This is to support different build configurations for environments.
      enabled: false

  command:
    bootstrap:
      environment:
        sdk: ^3.8.0
        flutter: ^3.32.0
      dependencies:
        dio: ^5.9.0
        flutter_hooks: ^0.21.3+1
        flutter_riverpod: ^2.6.1
        freezed_annotation: ^3.0.0
        hooks_riverpod: ^2.6.1
        intl: ^0.20.2
        json_annotation: ^4.9.0
        riverpod_annotation: ^2.6.1
        simple_logger: ^1.10.0
        go_router: ^15.1.2
        package_info_plus: ^8.3.1
        path: ^1.9.1
        shared_preferences: ^2.5.3
        theme_extensions_builder_annotation: ^4.0.1
        visibility_detector: ^0.4.0+2
      dev_dependencies:
        build_runner: ^2.5.4
        custom_lint: ^0.7.6
        flutter_launcher_icons: ^0.14.4
        flutter_test:
          sdk: flutter
        freezed: ^3.0.6
        go_router_builder: ^2.9.0
        json_serializable: ^6.9.5
        riverpod_generator: ^2.6.5
        riverpod_lint: ^2.6.5
        yumemi_lints: ^4.1.1
        test: ^1.25.15
        theme_extensions_builder: ^4.0.1
        flutter_gen_runner: ^5.10.0
      hooks:
        post: melos run bootstrap:post

  scripts:
    # bootstrap 後に実行する script 群
    bootstrap:post:
      description: bootstrap post hooks
      steps:
        - update:yumemi_lints
        - gen:labeler
        - gen:labels

    fix:
      description: |
        すべてのパッケージに `dart fix --apply` を実行します。
        analyze の対象として開発者が気づけるようにしつつ fix からは対象外とするため独自実装です。
      run: bash "$MELOS_ROOT_PATH/scripts/fix.sh"
    fix:custom:
      description: すべてのパッケージに custom_lint の fix を実行します。
      exec: dart run custom_lint --fix
      packageFilters:
        dirExists: lib
        dependsOn: custom_lint

    format:
      description: |
        すべてのパッケージに `dart format` を実行します。
        自動生成されたコードは対象外になるように設定しています。
      exec: >-
        find lib -name "*.dart"
        -not -path "*/gen/*"
        -not -name "*.g.dart"
        -not -name "*.freezed.dart"
        -not -name "*.gen.dart"
        -not -name "*.g.theme.dart" | xargs dart format
      packageFilters:
        dirExists: lib
    format:check:
      description: |
        すべてのパッケージに `dart format --output=none --set-exit-if-changed` を実行します。
        自動生成されたコードは対象外になるように設定しています。
      exec: >-
        find lib -name "*.dart"
        -not -path "*/gen/*"
        -not -name "*.g.dart"
        -not -name "*.freezed.dart"
        -not -name "*.gen.dart"
        -not -name "*.g.theme.dart" | xargs dart format --output=none --set-exit-if-changed
      packageFilters:
        dirExists: lib

    gen:
      description: build_runner と l10n の生成コマンドを実行します。
      steps:
        - gen:l10n
        - gen:build
    gen:diff:main:
      description: main ブランチと差分のあるパッケージのみ build_runner と l10n の生成コマンドを実行します。
      steps:
        - gen:l10n:diff:main
        - gen:build:diff:main
    gen:build:
      description: build_runner を使用してコードを生成します。
      run: dart run build_runner build -d
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: build_runner
    gen:l10n:
      description: 多言語対応のためのローカライゼーションファイルを生成します。
      run: flutter gen-l10n
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: flutter_localizations
    gen:build:diff:main:
      description: main ブランチと差分のあるパッケージのみ build_runner を使用してコードを生成します。
      run: dart run build_runner build -d
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: build_runner
        diff: origin/main...HEAD
    gen:l10n:diff:main:
      description: main ブランチと差分のあるパッケージのみ 多言語対応のためのローカライゼーションファイルを生成します。
      run: flutter gen-l10n
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: flutter_localizations
        diff: origin/main...HEAD
    # ローカル確認用
    # - 未コミットの差分パッケージのみ[build_runner][l10n]を処理するスクリプト
    gen:diff:head:
      description: 未コミットの差分パッケージのみ build_runner と l10n の生成コマンドを実行します。
      steps:
        - gen:build:diff:head
        - gen:l10n:diff:head
    gen:build:diff:head:
      description: 未コミットの差分パッケージのみ build_runner を使用してコードを生成します。
      run: dart run build_runner build -d
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: build_runner
        diff: ""
    gen:l10n:diff:head:
      description: 未コミットの差分パッケージのみ ローカライゼーションファイル を生成します。
      run: flutter gen-l10n
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: flutter_localizations
        diff: ""
    gen:labeler:
      description: "`.github/labeler.yml` のパッケージ部分を生成します。"
      run: dart run ./tools/gen_labeler.dart
    gen:labels:
      description: "`.github/labels.yml` のパッケージ部分を生成します。"
      run: dart run ./tools/gen_labels.dart

    upgrade:
      description: dart pub のバージョンアップを実施します。
      run: dart pub upgrade
      exec:
        concurrency: 1
        orderDependents: true
    upgrade:major:
      description: dart pub のメジャーバージョンアップを実施します。
      run: dart pub upgrade --major-versions
      exec:
        concurrency: 1
        orderDependents: true
    update:yumemi_lints:
      description: yumemi_lints の更新を実行します。
      exec: dart run yumemi_lints update
      packageFilters:
        dependsOn: yumemi_lints

    # dependsOn で or 条件で指定することができないため
    # スクリプトを Flutter と Dart に分けている
    test:
      description: すべてのパッケージのテストを実行します。
      steps:
        - test:flutter
        - test:dart
    test:flutter:
      description: Flutter パッケージのテストを実行します。
      run: flutter test
      exec:
        concurrency: 1
      packageFilters:
        dependsOn: flutter_test
        dirExists: test
        ignore:
          - catalog
    test:dart:
      description: Dart パッケージのテストを実行します。
      run: dart test
      exec:
        concurrency: 1
      packageFilters:
        dependsOn: test
        dirExists: test

    # dependsOn で or 条件で指定することができないため
    # スクリプトを Flutter と Dart に分けている
    report:test:
      description: すべてのパッケージのテストレポートを生成します。
      steps:
        - report:test:flutter
        - report:test:dart
    report:test:flutter:
      description: Flutter パッケージのテストレポートを生成します。
      run: flutter test --no-pub --machine > test_report.log
      exec:
        concurrency: 1
      packageFilters:
        dependsOn: flutter_test
        dirExists: test
        ignore:
          - catalog
    report:test:dart:
      description: Dart パッケージのテストレポートを生成します。
      run: dart test --file-reporter="json:test_report.log"
      exec:
        concurrency: 1
      packageFilters:
        dependsOn: test
        dirExists: test

    ci:report:custom_lint:
      description: CI 環境で custom_lint のレポートを生成します。
      exec: bash "$MELOS_ROOT_PATH/scripts/report-custom-lint-ci.sh"
      packageFilters:
        dependsOn: custom_lint

    golden_test:ci:
      description: golden_test を実行します。
      run: flutter test --tags golden
      exec:
        failFast: true
      packageFilters:
        scope:
          - catalog
    golden_test:
      description: golden_test を実行し, ファイルを生成します。
      run: flutter test --update-goldens
      exec:
        failFast: true
      packageFilters:
        scope:
          - catalog

    pod:repo_update:ios:
      description: ios の pod のリポジトリを更新します。
      run: pod repo update
      packageFilters:
        fileExists: ios/Podfile

    pod:repo_update:macos:
      description: macos の pod のリポジトリを更新します。
      run: pod repo update
      packageFilters:
        fileExists: macos/Podfile
