gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Android related
app/src/main/res/drawable*/ic_launcher*.png
app/src/main/res/mipmap*/ic_launcher*.png
app/src/main/res/mipmap*/ic_launcher*.xml
app/src/main/res/values/colors.xml

# Kotlin
/.kotlin/
