name: Check generated code is latest

on:
  workflow_call:

jobs:
  check:
    runs-on: ubuntu-22.04
    timeout-minutes: 10

    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Setup Application Runtime
        uses: ./.github/actions/setup-application-runtime

      # https://github.com/actions/cache
      - name: Cache build runner
        id: cache-build-runner
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        env:
          cache-name: build-runner
        with:
          path: |
            **/.dart_tool/build
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/pubspec.lock') }}-${{ hashFiles('**/*.dart') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/pubspec.lock') }}-${{ hashFiles('**/*.dart') }}
            ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/pubspec.lock') }}
            ${{ runner.os }}-${{ env.cache-name }}-
            ${{ runner.os }}-

      - name: Regenerate code
        run: melos run regenerate_code --no-select

      - name: Check difference
        run: |
          git add -N .
          git diff --name-only --exit-code
